SEPOLIA_RPC_URL=

# deployed contract address
CONTRACT_ADDRESS=

#pinata for ipfs
PINATA_JWT=
PINATA_GATEWAY=

#supabse
SUPABASE_URL=
SUPABASE_KEY=

# Court
# SEPOLIA_PRIVATE_KEY=

# Officer
# SEPOLIA_PRIVATE_KEY=
# Forensic
# SEPOLIA_PRIVATE_KEY=
# Lawyer
# SEPOLIA_PRIVATE_KEY=

MASTER_PASSWORD=
